<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(type='text/css' rel='stylesheet' href='/css/login.css')
        link(href="https://fonts.googleapis.com/css?family=Bubbler+One|Butterfly+Kids&display=swap" rel="stylesheet")

    include ./header.pug

    body

    form#formulaireLogin(action='/login' method="POST")
        label(for='pseudonyme')  votre pseudo ici: 
        input#pseudonyme(type='text' name='pseudonyme' required)
        br
        label(for='password')  mot de passe : 
        input#password(type='password' name='password' required)
        a#inscriptionLink(href='/inscription') inscription ici.
        input.btn.btn-success(type='submit' value='Se connecter' id="bttEnvoyer")
       

    
    #message
        p #{message}

img(src="/img/ballons.png", alt="ballons")