
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href='/css/room.css')
        script(src="/socket.io/socket.io.js")

    include ./header.pug
    body

    p#paragraphePseudo #[strong #{pseudonyme}] 

    #welcome 
      p Bienvenue dans la salle #[strong #{roomName}]  

    #messageContainer  Pret à cliquer?



script.
      "use strict";

      window.addEventListener("DOMContentLoaded", function(){
        
       
        const ioSocket = io("https://pop-the-balloon.herokuapp.com/");
        ioSocket.id = Math.round(Math.random() * 10 ** 12)
        ioSocket.pseudonyme = paragraphePseudo.innerText;

        ioSocket.on("connect", function(){
          console.log("socket connectée dans la room")
          ioSocket.emit("ioSocket_pseudo", 
              ioSocket.pseudonyme
              )

          ioSocket.on("wait", function(data) {
            messageContainer.innerText = data.message
          })

          ioSocket.on("two_players", function(data){
            messageContainer.innerText = data.message
          })


          ioSocket.on("updateClientnewBalloon", function(newBalloon){
            // on updatClient j'appelle la fonction createSquare créee
            // auparavant, je lui donne les infos du newBalloon recu par le back
            // je fais une recherche sur la div qui contient l'id squareproperties
          var ballon = window.document.getElementById(newBalloon.id);


          //s'il n'existe pas je le crée.
          if (! ballon) {
            ballon = window.document.createElement("div");
            ballon.id = newBalloon.id;
            window.document.body.appendChild(ballon);
          }
          // une fois trouvé ou crée; je  lui donne les propriétés de newBalloon

          ballon.innerText = newBalloon.innerText
          ballon.style.top = newBalloon.top + "px";
          ballon.style.left = newBalloon.left + "px";
          ballon.style.borderRadius = newBalloon.borderRadius;
          ballon.style.width = newBalloon.width;


          if (ballon.style.height === '100px') {
              ioSocket.on('youWon', (data) => { 
                messageContainer.innerText = data.message;
                setTimeout(function(){
                  ioSocket.disconnect();
                 }, 100);
               setTimeout(function(){
                window.location = "https://pop-the-balloon.herokuapp.com/";
                  }, 5000);
                
              } ) 
                } else {
            ballon.style.height = newBalloon.height; 
          }
          ballon.style.position = newBalloon.position;
          ballon.style.backgroundColor = newBalloon.backgroundColor;

          return ballon;

          });

          window.addEventListener("click", function() {
            ioSocket.emit("windowClicked");
        })
        
          window.addEventListener("mousemove", function(event){  
            var mouseCoordinates = {
              top: event.clientY,
              left: event.clientX
            };
            ioSocket.emit("newMouseCoordinates", mouseCoordinates);
          });

        
          ioSocket.on("deleteClientnewBalloon", function(newBalloon){
            var newBalloon = window.document.getElementById(newBalloon.id);
            if (newBalloon) {
              newBalloon.parentNode.removeChild(newBalloon);
            }
          });

        ioSocket.on("youLoose", function(data){
            messageContainer.innerText = data.message
            setTimeout(function(){
              ioSocket.disconnect();
              }, 100);
              setTimeout(function(){
              window.location = "https://pop-the-balloon.herokuapp.com/";
              }, 5000);
                
          })

        });
      });
