body {
    background-color: rgba(106, 76, 147, 1);
    background-size: cover;
    font-size: xx-large;
    font-family: 'Butterfly Kids';
}

img {
    height: 550px;
}

#formulaireLogin, #formInscription {
    background-color: rgba(25, 130, 196, 1);
    height: 55%;
    width: 26%;
    position: absolute;
    top: 32%;
    left: 35%;
    border-radius: 100%;
}

#formulaireLogin label, #password, #pseudonyme, #inscriptionLink, #formInscription label, #pseudonyme, #password {
    color: rgba(138, 201, 38, 1);
    position: relative;
    font-size: 51px;
    width: 267px;
    height: 29px;
    top: 14%;
    left: 18%;
}

#bttEnvoyer {
    position: relative;
    left: 13%;
    top: 21px;
    font-size: 16px;
    border-radius: 13px;
}


#formInscription #bttEnvoyer {
    margin-top: 20px;
    color: red;
    font-size: 25px;
    left: 37%;
}

#message {
    position: absolute;
    background-color: rgba(255, 89, 94, 1);
    width: 16%;
    border-radius: 100%;
    height: 32%;
    top: 16%;
    left: 55%;
}

#message p {
    color: rgba(106, 76, 147, 1);
    font-size: 32px;
    margin: 15px;
    padding: 17px;
}

#inscription {
    background-color: crimson;
    position: absolute;
    height: 30%;
    width: 15%;
    border-radius: 100%;
    left: 24%;
    top: 23%;
}

#inscription p {
    font-size: 51px;
    padding: 25px;
    color : white;
}